nav{
    .w-min{
        width: 1.8em !important;
    }
}

.font-pacifico {
    font-family: 'Pacifico', sans-serif;
}
.font-oxygen {
    font-family: 'Oxygen', sans-serif;
}
.font-raleway{
    font-family: 'Raleway', sans-serif;
}
.font-quicksand {
    font-family: 'Quicksand', sans-serif;
}