<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img src="assets/images/TDC.png" class="img img-fluid w-min navbar-brand"/>
  <span class="font-raleway">TheDevCorp</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>